.notifications-panel {
  border-color: #2b8cc4;
  border-left-width: 10px;
  background-color: #eaf4f9;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  padding:1em 1em .5em 1em;
  margin-bottom: 40px
}