$mobile: 768px; //change this to suit your content
$color_hmrc-grey-4: #b1b4b6;

.hmrc-responsive-table {
  margin-bottom: 0;
  width: 100%;


  thead {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      -webkit-clip-path: none;
      clip-path: none;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
    }

    th.first-column-width {
      width: auto;
      @media (min-width: $mobile) {
        width: 26%;
      }
    }
     th.second-column-width {
      width: auto;
      @media (min-width: $mobile) {
        width: 40%;
      }
    }
  }

  tbody {
    tr {
      display: block;
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between;
        min-width: 1px;
        padding-right: 0;

        @media (min-width: $mobile) {
          text-align: left;
          display: table-cell;
        }

        @media (max-width: $mobile) {
          font-size: 16px;
        }
      }

      td {
        display: block; // For browsers that don't support flexbox
        display: flex;
        justify-content: space-between;
        min-width: 1px;
        text-align: right;

        @media (min-width: $mobile) {
          display: table-cell;
          text-align: left;
        }

        @media (max-width: $mobile) {
          padding-right: 0;
          font-size: 16px;
          &:last-child {
            border-bottom: 3px solid $color_hmrc-grey-4;
          }
        }
      }
    }
  }
}

.hmrc-responsive-table__heading {
  font-weight: 700;
  padding-right: 1em;
  text-align: left;
  word-break: initial;

  @media (min-width: $mobile) {
    display: none;
  }
}

.hmrc-responsive-table__data--wrap-mobile {
  @media (max-width: $mobile) {
    word-break: break-all;
  }
}

.hmrc-responsive-table__data--wrap-desktop {
  @media (min-width: $mobile) {
    word-break: break-all;
  }
}

.hmrc-reponsive-table__numeric {
  @media (min-width: $mobile) {
    text-align: right;
  }
}

.table-foot {
  border-bottom: 1px solid #b1b4b6;
  display: flex;
  font-size: 19px;
  font-weight: 700;
  justify-content: space-between;
  padding: 0.75em 0 0.75em;
}