.view-or-change {
    text-align: right !important;
}
@media (min-width: 40.0625em) {
    .govuk-table {
        table-layout: fixed;
    }
    .govuk-table__cell, 
    .govuk-table__header {
        width: 250px;
    }
}
